body {
  margin: 0 auto;
  padding: 40px;
  line-height: 1.3;
  max-width: 900px; /* Adjust this value as needed */
  font-family: 'Georgia', serif; /* 'Times New Roman', serif; 'Verdana' sans-serif; */
  font-size: 11pt;
   text-align: justify;
  text-justify: inter-word;
  /*background-image: url('background.png');*/
}

h1 {
  text-align: left;
}

#contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
}

#contact-info img {
  margin-right: 10px;
}

audio {
  width: 304px;
  height: 30px;
}

.sf {
  font-family: 'Courier New', monospace;
}

.Q {
  color: #d80000;
}

.graybox {
  background-color: rgb(230, 230, 230);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.whitebox {
  border: black;
  border-style: solid;
  border-width: thin;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
*/
