body {
  margin: 0 auto;
  padding: 40px;
  line-height: 1.5;
  max-width: 900px; /* Adjust this value as needed */
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  text-justify: inter-word;
  }

h1 {
  text-align: left;
  }
    
#contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
    }
    
#contact-info img {
  margin-right: 10px;
    }

audio { width: 300px; height: 30px; }

.sf {
  font-family: Courier New, monospace;
}
