@font-face {
    font-family: 'TeX Gyre Termes';
    src: url('/fonts/texgyretermes-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Termes';
    src: url('/fonts/texgyretermes-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Termes';
    src: url('/fonts/texgyretermes-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
  margin: 0 auto;
  padding: 40px;
  line-height: 1.1;
  max-width: 850px; /* Adjust this value as needed */
  font-family: "TeX Gyre Termes", "Times New Roman", Times, serif;
  font-size: 12pt;
   text-align: justify;
  text-justify: inter-word;
}

audio {
  width: 304px;
  height: 30px;
}

.sf {
  font-family: 'Courier New', monospace;
}

.Q {
  color: #d80000;
}

.graybox {
  background-color: rgb(189, 189, 189);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.whitebox {
  border: black;
  border-style: solid;
  border-width: thin;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
*/

