body {
  margin: 0 auto;
  padding: 40px;
  line-height: 1.1;
  max-width: 850px; /* Adjust this value as needed */
  font-family: 'Times New Roman', serif;
  font-size: 12pt;
   text-align: justify;
  text-justify: inter-word;
}

audio {
  width: 304px;
  height: 30px;
}

.sf {
  font-family: 'Courier New', monospace;
}

.Q {
  color: #d80000;
}

.graybox {
  background-color: rgb(189, 189, 189);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.whitebox {
  border: black;
  border-style: solid;
  border-width: thin;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*
table {
  border-collapse: collapse;
  width: 100%;
}
*/

